.calculator-container {
  margin: auto;
  width: 350px;
  height: auto;

  .top-area {
    .top-area-data {
      background-color: #848693;
      width: 100%;
      height: 40px;
      text-align: end;
      color: white;
      font-weight: bold;
      padding: 8px;
    }
  }

  .table-button {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #e0e0e0;

    button {
      background-color: #e0e0e0;
      border: none;
      cursor: pointer;
    }
  }

  .symbol {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #f5903e;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
